<!-- MONTH, NETWORK ACCESS TECHNOLOGY, TYPE OF PLAN, NUMBER OF SUBSCRIPTIONS (SUBSCRIPTIONS)-->
<br><br>
<h1 class="title">Total de subscripciones de telefonos moviles</h1><br>
<form [formGroup]="registerForm" (ngSubmit)="addMobileSubscription(registerForm.value)">
  <div class="form__first">
    <mat-form-field appearance="fill">
      <mat-label>Mes</mat-label>
      <input matInput type="text" formControlName="month" placeholder="02, 12, 10">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Tecnología de acceso a la red</mat-label>
      <mat-select formControlName="network">
        <mat-option value="1G">1G</mat-option>
        <mat-option value="2G">2G</mat-option>
        <mat-option value="3G">3G</mat-option>
        <mat-option value="4G">4G</mat-option>
        <mat-option value="5G">5G</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form__second">
    <mat-form-field appearance="fill">
      <mat-label>Tipo de plan</mat-label>
      <mat-select formControlName="plan">
        <mat-option value="post-paid">post-paid</mat-option>
        <mat-option value="pre-paid">pre-paid</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Números de subscripciones (Subscripciones)</mat-label>
      <input matInput type="text" formControlName="subscriptions" placeholder="0, 654, 1679800">
    </mat-form-field>
  </div>

  <div class="form__action">
    <button *ngIf="!_updateDataConfirm" mat-raised-button type="submit" [disabled]="!registerForm.valid" color="primary">Save</button>
    <button *ngIf="_updateDataConfirm" mat-raised-button [disabled]="!registerForm.valid" color="primary">UPDATE</button>
    <button mat-raised-button type="reset" color="warn">Reset</button>
    <button *ngIf="_updateDataConfirm" mat-raised-button type="reset" color="accent" (click)="cancelUpdate()">CANCEL</button>
  </div>
</form>

<br><br>

<app-table (mobileSubscriptionData)="updateMobileSubscription($event, $event)" ></app-table>

