.title{
  font-size: 30px;
  text-align: center;
  font-family: "Comic Sans MS";
}
.form__first{
  display: flex;
  justify-content: space-evenly;
}
.form__second{
  display: flex;
  justify-content: space-evenly;
}
.form__action{
  display: flex;
  justify-content: center;
}

/* GLOBAL CHANCE */
button{
  margin: 10px;
}
mat-form-field{
  width: 400px;
}
mat-option{
  text-align: center;
  font-weight: inherit;
}
