<!-- MONTH, NETWORK ACCESS TECHNOLOGY, TYPE OF PLAN, NUMBER OF SUBSCRIPTIONS (SUBSCRIPTIONS)-->
<br><br>
<form [formGroup]="registrarFormulario" (ngSubmit)="agregar(registrarFormulario.value)">
  <h1 class="title">Total de subscripciones de telefonos moviles</h1><br>
  <div class="formulario__primero">
    <mat-form-field appearance="fill">
      <mat-label>Mes</mat-label>
      <input matInput type="text" formControlName="mes" placeholder="02, 12, 10">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Tecnología de acceso a la red</mat-label>
      <mat-select formControlName="red">
        <mat-option> </mat-option>
        <mat-option>1G</mat-option>
        <mat-option>2G</mat-option>
        <mat-option>3G</mat-option>
        <mat-option>4G</mat-option>
        <mat-option>5G</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="formulario__segundo">
    <mat-form-field appearance="fill">
      <mat-label>Tipo de plan</mat-label>
      <mat-select formControlName="plan">
        <mat-option> </mat-option>
        <mat-option>post-paid</mat-option>
        <mat-option>pre-paid</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Números de subscripciones (Subscripciones)</mat-label>
      <input matInput type="text" formControlName="plan" placeholder="0, 654, 1679800">
    </mat-form-field>
  </div>

  <div class="formulario__acciones">
    <button mat-raised-button type="submit" color="primary">Save</button>
    <button mat-raised-button type="reset" color="warn">Cancel</button>
  </div>
</form>

